<footer class="footer padding">
    <div class="wrapper">
        <h2>This is a footer</h2>
        <p>Found in /src/partials/footer.hbs</p>
    </div>
</footer>

</body>

<script src="/assets/js/bundle.js"></script>

</html>