{{> head}}
{{> header current="home" }}

        <div class="wrapper padding">

            <h2>This is a handlebars template</h2>

            <p>this file is /templates/pages/index.hbs</p>

            <p>Once you've run the gulp command, all the files from /src will compile into /dist ready for deployment.</p>

            <p>Visit the <a class="button" href="/about.html">About page</a> </p>
        </div>

    </body>

{{> footer}}

