$button-background: $brand;
$button-text:       $white;
$button-radius:     5px;

.button {
  padding: $spacing-xs $spacing-med;
  border-radius: $button-radius;
  display: inline-block;
  color: $white;
  background: $button-background;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  border: 1px solid $button-background;
  transition: $transition-time;
  cursor: pointer;
  outline: 0;

  @include max-screen(767px) {
    font-size: $font-size-sm-mob;
    line-height: $line-height-sm-mob;
    border: 1px solid $white;
  }

  @include link-hover {
    background: transparent;
    border: 1px solid $button-background;
    color: $brand;
  }
}
