{{> head}}
{{> header}}

        <div class="wrapper padding">

            <h2>This is a handlebars template</h2>

            <p>this file is src/templates/index.hbs</p>

            <p>Visit the <a class="button" href="/about.html">About page</a> </p>
        </div>

    </body>

{{> footer}}

