// Palette

$white:		#FFFFFF;
$black: 	#000000;
$off-black: #312C3D;
$purple:    #633DFF;
$dark-blue: #312C3D;


// Theme styles

$brand:     $purple;

$font-color:        $off-black;
$link-color:        $brand;
$link-hover-color:  $brand;



$border-color:      $off-black;