// Palette

$white:		#FFFFFF;
$black: 	#000000;
$off-black: #312C3D;
$blue-grey: #68829e;


// Theme styles

$brand:             $blue-grey;

$font-color:        $off-black;
$link-color:        $brand;
$link-hover-color:  $brand;

$border-color:      $off-black;